// Search Results Header
.content-header(data-ng-controller='SearchUsersCtrl')
  .row
    .col-sm-6.col-sm-offset-3
      .header-section
        form(novalidate, name='searchForm')
          .form-group
            input.form-control(type='text', name='query', placeholder='Search usernames', required)
          .text-center
            button.btn.btn-effect-ripple.btn-effect-ripple.btn-primary(data-ng-click='searchUsers()') Search Database
// END Search Results Header
// Search Results Block
.block
  // Search Styles Title
  .block-title
  // END Search Styles Title
  // Search Results Content
  #searchResults
    .row
      .col-sm-6
        table.table.table-striped.table-borderless.table-hover.table-vcenter
          tbody
            tr.animation-fadeInQuickInv(data-ng-repeat='result in results')
              td.text-center(style='width: 100px;')
                img.img-circle.img-thumbnail.img-thumbnail-avatar(src='', alt='')
              td.hidden-xs {{result.email}}
              td.text-center(style='width: 100px;')
                a.btn.btn-effect-ripple.btn-xs.btn-success(href='javascript:void(0)', data-toggle='tooltip', title='Edit')
                  i.fa.fa-pencil
                a.btn.btn-effect-ripple.btn-xs.btn-danger(href='javascript:void(0)', data-toggle='tooltip', title='Delete')
                  i.fa.fa-times
