// Login Container
#login-container
  // Register Header
  h1.h2.text-light.text-center.push-top-bottom.animation-slideDown
    i.fa.fa-plus
    strong &nbsp; Create Account
  // END Register Header
  // Register Form
  .block.animation-fadeInQuickInv
    // Register Title
    .block-title
      .block-options.pull-right
        a.btn.btn-effect-ripple.btn-primary(href='/#/login', data-toggle='tooltip', data-placement='left', title='Back to login')
          i.fa.fa-user
      h2 Register
    // END Register Title
    // Register Form
    form#form-register.form-horizontal(novalidate, role='form', name='userForm')
      .form-group
        .col-xs-12
          input#register-username.form-control(type='text', name='username', data-ng-model='user.username', placeholder='Username', required, autofocus)
      .form-group
        .col-xs-12
          input#register-email.form-control(type='email', name='email', data-ng-model='user.email', placeholder='Email', required)
      .form-group
        .col-xs-12
          input#register-password.form-control(type='password', name='password', data-ng-model='user.password', placeholder='Password', data-ng-minlength='6', required)
      .form-group.form-actions
        .col-xs-6
          label.csscheckbox.csscheckbox-primary(data-toggle='tooltip', title='Agree to the terms')
            input#register-terms(type='checkbox', name='register-terms', required)
            span
          a(href='#modal-terms', data-toggle='modal') Terms
        .col-xs-6.text-right
          button.btn.btn-effect-ripple.btn-success(data-ng-show='userForm.$valid', data-ng-click='register()')
            i.fa.fa-plus
            |  Create Account
    // END Register Form
  // END Register Block
  // Footer
  footer.text-muted.text-center.animation-pullUp
    small
      span#year-copy
      |  &copy; 2014
      | Melanie L. Fryman
  // END Footer
// END Login Container
// Modal Terms
#modal-terms.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h3.modal-title.text-center
          strong Terms and Conditions
      .modal-body
        h4.page-header
          | 1.
          strong General
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.
        h4.page-header
          | 2.
          strong Account
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.
        h4.page-header
          | 3.
          strong Service
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.
        h4.page-header
          | 4.
          strong Payments
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.
      .modal-footer
        .text-center
          button.btn.btn-effect-ripple.btn-sm.btn-primary(type='button', data-dismiss='modal') I&apos;ve read them!
// END Modal Terms

