#landing
.row
  .col-xs-3
  .col-xs-6
    div.jumbotron
      h1 Brownie Points
        p You know those etherial brownie points people give out?
        p With Brownie Points, you can praise your buddies by awarding brownie points for their good deeds. If your buddy turns out to not be your pal, take those points back!
        p Been hoarding brownie points? Cash out on an array of prizes!
      a.btn.btn-primary.btn-lg(href='/#/register') Get Started
  .col-xs-3
