// Main Container
#main-container
  // Header
  header.navbar.navbar-inverse.navbar-fixed-top(role='navigation', data-ng-controller='NavCtrl')
    // Left Header Navigation
    ul.nav.navbar-nav-custom.pull-left
      // Header Link
      li
        a(href='/#/')
          i.gi.gi-home.pull-left &nbsp;
          | Home
      // END Header Link
    // END Left Header Navigation
    // Right Header Navigation
    ul.nav.navbar-nav-custom.pull-right(data-ng-hide='currentUser.email')
      li
        a(href='/#/register')
          i.gi.gi.user_add.pull-left &nbsp;
          | Register
      li
        a(href='/#/login')
          i.gi.gi.keys.pull-left &nbsp;
          | Login
    ul.nav.navbar-nav-custom.pull-right(data-ng-show='currentUser.email')
      li.dropdown
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
          img(gravatar-src-once='currentUser.email', alt='currentUser.username')
        ul.dropdown-menu.dropdown-menu-right
          li
            a(href='/#/profile')
              i.fa.fa-user.fa-fw.pull-right
              | My Profile
          li.divider
          li
            a(href='/#/logout')
              i.fa.fa-power-off.fa-fw.pull-right
              | Log out
  // END Header
  // Page content
  #page-content(data-ng-view='')

