
// First Row
.row
  // Simple Stats Widgets
  .col-sm-6.col-lg-3
    a.widget(href='javascript:void(0)')
      .widget-content.widget-content-mini.themed-background-success.text-light-op
        strong Brownie Points
      .widget-content.text-right.clearfix
        .widget-icon.pull-left
          i.gi.gi-user.text-muted
        h2.widget-heading.h3.text-success
          i.fa.fa-star &nbsp;
          strong {{currentUser.totalPoints || 0}}
        span.text-muted BROWNIE POINTS
.row
.row
// END First Row
// Second Row
// User Connections Widget
.row
  .col-sm-6.col-lg-4
    table.table.table-striped.table-borderless.table-hover.table-vcenter
      tbody
        tr.animation-fadeInQuickInv
          td.text-center(style='width: 100px;')
            img.gravatar.img-circle.img-thumbnail.img-thumbnail-avatar(gravatar-src-once='user.email' gravatar-size='100')
          td.hidden-xs {{user.fullName || user.username}}
          td.text-center(style='width: 100px;')
            a.btn.btn-effect-ripple.btn-success(href='javascript:void(0)', data-toggle='tooltip', title='+ Points')
              i.fa.fa-plus
            a.btn.btn-effect-ripple.btn-danger(href='javascript:void(0)', data-toggle='tooltip', title='- Points')
              i.fa.fa-minus
.row
  .col-sm-6.col-lg-4
    // Stats User Widget
    a.widget(href='javascript:void(0)')
      .widget-content.widget-content-mini.themed-background-dark.text-light-op
        i.fa.fa-fw.fa-trophy
        strong Creator of the day
      .widget-content.text-center
        img.gravatar.img-circle.img-thumbnail.img-thumbnail-avatar-2x(gravatar-src-once='user.email' gravatar-size='200')
        h2.widget-heading.h3.text-muted {{user.fullName}}
      .widget-content.themed-background-muted.text-dark.text-center
        strong {{user.username}}
      .widget-content
        .row.text-center
          .col-xs-4
            h3.widget-heading
              i.gi.gi-share_alt.text-success.push-bit
              br
              small 58.6k Followers
          .col-xs-4
            h3.widget-heading
              i.gi.gi-briefcase.text-info.push-bit
              br
              small 35 Projects
          .col-xs-4
            h3.widget-heading
              i.gi.gi-heart_empty.text-danger.push-bit
              br
              small 5.3k Likes
    // END Stats User Widget
// END Second Row
// Third Row
.row
// END Third Row
// END Page Content
