
// Compose Modal
#modal-compose.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
.modal-dialog
.modal-content
.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
  h3.modal-title
    strong Compose Message
.modal-body
  form.form-horizontal.form-bordered(action='page_app_email.html', method='post', onsubmit='return false;')
    .form-group
      .col-xs-12
        select#fcompose-users.select-chosen(name='fcompose-users', data-placeholder='To..', style='width: 250px;', multiple='')
          option
          // Required for data-placeholder attribute to work with Chosen plugin
          option(value='john.doe') John Taylor
          option(value='sara.castillo') Sara Castillo
          option(value='rachel.fox') Rachel Fox
          option(value='vincent.johnson') Vincent Johnson
          option(value='russell.perkins') Russell Perkins
          option(value='denise.hill') Denise Hill
          option(value='helen.gomez') Helen Gomez
          option(value='marie.herrera') Marie Herrera
          option(value='charles.morris') Charles Morris
          option(value='janice.contreras') Janice Contreras
    .form-group
      .col-xs-12
        textarea#fcompose-message.form-control(name='fcompose-message', rows='7', placeholder='Write your message..')
    .form-group.form-actions
      .col-xs-12.text-right
        button.btn.btn-effect-ripple.btn-primary(type='submit') Send
// END Compose Modal
