
// Page content
#page-content.inner-sidebar-left
  // Inner Sidebar
  #page-content-sidebar
    // Compose Message (Modal markup is at the bottom of this page before including JS scripts)
    .block-section
      a.btn.btn-effect-ripple.btn-block.btn-success(href='#modal-compose', data-toggle='modal')
        i.fa.fa-pencil
        |  Compose Message
    // Collapsible Navigation
    a.btn.btn-block.btn-effect-ripple.btn-default.visible-xs(href='', data-toggle='collapse', data-target='#email-nav') Navigation
    #email-nav.collapse.navbar-collapse.remove-padding
      // Menu
      .block-section
        ul.nav.nav-pills.nav-stacked
          li.active
            a(href='/#/inbox')
              i.fa.fa-fw.fa-inbox.icon-push
              strong Inbox
          li
            a(href='')
              i.fa.fa-fw.fa-send.icon-push
              strong Sent
      // END Menu
    // END Collapsible Navigation
  // END Inner Sidebar
  // Email Center Content
  .block.overflow-hidden
    // Message List
    #message-list
      // Title
      .block-title.clearfix
        .block-options.pull-right
          a.btn.btn-effect-ripple.btn-default(href='')
            i.fa.fa-arrow-left
            |  Prev
          a.btn.btn-effect-ripple.btn-default(href='')
            | Next
            i.fa.fa-arrow-right
        .block-options.pull-left
          a.btn.btn-effect-ripple.btn-info(href='', data-toggle='tooltip', title='Archive Selected')
            i.fa.fa-briefcase
          a.btn.btn-effect-ripple.btn-warning(href='', data-toggle='tooltip', title='Star Selected')
            i.fa.fa-star
          a.btn.btn-effect-ripple.btn-danger(href='', data-toggle='tooltip', title='Delete Selected')
            i.fa.fa-times
      // END Title
      // Messages
      .block-content-full
        table.table.table-borderless.table-striped.table-vcenter.remove-margin
          tbody
            // Use the first row as a prototype for your column widths
            tr(data-ng-repeat='msg in messages')
              td.td-label.td-label-muted.text-center(style='width: 5%;')
                label.csscheckbox.csscheckbox-primary
                  input(type='checkbox', name='read', data-ng-model='msg.isRead')
                  span
              td.text-center(style='width: 7%;')
                a(href='/#/users/{{msg.sender.alias}}')
                img.img-circle(data-ng-src='/vendor/template/img/placeholders/avatars/avatar10.jpg', alt='avatar')
              td
                h4
                  a.text-dark(href='/#/messages/{{msg._id}}')
                    strong {{msg.subject}}
                span.text-muted {{prop.msg.slice(0, 20) + '.....'}}
              td.hidden-xs.text-center(style='width: 30px;')
                i.fa.fa-paperclip.fa-2x.text-muted
              td.hidden-xs.text-right.text-muted(style='width: 120px;')
                em {{moment(msg.date).format('MM/DD/YYYY')}} {{moment(msg.date).fromNow()}}
      // END Messages
    // END Message List
    include single
include compose
