
// Quick Reply Form
form(action='page_app_email.html', method='post', onsubmit='return false;')
  textarea#message-quick-reply.form-control.push-bit(name='message-quick-reply', rows='5', placeholder='Your message..')
  button.btn.btn-effect-ripple.btn-primary
    i.fa.fa-share
    |  Reply
// END Quick Reply Form
