// Login Container
#login-container
  // Login Header
  h1.h2.text-light.text-center.push-top-bottom.animation-slideDown
    i.fa.fa-star
    strong Welcome to Brownie Points
  // END Login Header
  // Login Block
  .block.animation-fadeInQuickInv
    // Login Title
    .block-title
      .block-options.pull-right
        a.btn.btn-effect-ripple.btn-primary(href='#', data-toggle='tooltip', data-placement='left', title='Forgot your password?')
          i.fa.fa-exclamation-circle
        a.btn.btn-effect-ripple.btn-primary(href='/#/register', data-toggle='tooltip', data-placement='left', title='Create new account')
          i.gi.gi-user_add
      h2 Please Login
    // END Login Title
    // Login Form
    form#form-login.form-horizontal(novalidate, role='form', name='loginForm')
      .form-group
        .col-xs-12
          input#login-email.form-control(type='email', name='email', data-ng-model='user.email', placeholder='Email', required, autofocus)
      .form-group
        .col-xs-12
          input#login-password.form-control(type='password', name='password', data-ng-model='user.password', placeholder='Password', data-ng-minlength='6', required)
      .form-group.form-actions
        .col-xs-8
        .col-xs-4.text-right
          button.btn.btn-effect-ripple.btn-sm.btn-primary(data-ng-show='loginForm.$valid', data-ng-click='login()')
            i.fa.fa-check
            |  Let&apos;s Go
    // END Login Form
  // END Login Block
  // Footer
  footer.text-muted.text-center.animation-pullUp
    small
      span#year-copy
      |  &copy; 2014
      | Melanie L. Fryman
  // END Footer
// END Login Container

