// Connections
#profile-connections.tab-pane
  .block-content-full
    table.table.table-striped.table-borderless.table-vcenter.remove-margin-bottom
      tbody
        tr.animation-fadeInQuick2
          td.text-center(style='width: 100px;')
            img.img-circle.img-thumbnail.img-thumbnail-avatar(src='/vendor/template/img/placeholders/avatars/avatar1.jpg', alt='avatar')
          td
            h4
              strong Eric Stone
            i.fa.fa-fw.fa-user.text-danger
            |  Web Designer
            br
            i.fa.fa-fw.fa-map-marker.text-info
            |  New York, USA
          td.text-right(style='width: 20%;')
            a.btn.btn-sm.btn-info(href='javascript:void(0)', data-toggle='tooltip', title='Send Message')
              i.fa.fa-envelope
            a.btn.btn-sm.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='Follow')
              i.fa.fa-share
        tr.animation-fadeInQuick2
          td.text-center(style='width: 100px;')
            img.img-circle.img-thumbnail.img-thumbnail-avatar(src='/vendor/template/img/placeholders/avatars/avatar2.jpg', alt='avatar')
          td
            h4
              strong Roy Wong
            i.fa.fa-fw.fa-user.text-danger
            |  Logo Designer
            br
            i.fa.fa-fw.fa-map-marker.text-info
            |  Sydney, Australia
          td.text-right
            a.btn.btn-sm.btn-info(href='javascript:void(0)', data-toggle='tooltip', title='Send Message')
              i.fa.fa-envelope
            a.btn.btn-sm.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='Follow')
              i.fa.fa-share
        tr.animation-fadeInQuick2
          td.text-center(style='width: 100px;')
            img.img-circle.img-thumbnail.img-thumbnail-avatar(src='/vendor/template/img/placeholders/avatars/avatar3.jpg', alt='avatar')
          td
            h4
              strong Willie Walsh
            i.fa.fa-fw.fa-user.text-danger
            |  Web Developer
            br
            i.fa.fa-fw.fa-map-marker.text-info
            |  Los Angeles, USA
          td.text-right
            a.btn.btn-sm.btn-info(href='javascript:void(0)', data-toggle='tooltip', title='Send Message')
              i.fa.fa-envelope
            a.btn.btn-sm.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='Follow')
              i.fa.fa-share
        tr.animation-fadeInQuick2
          td.text-center(style='width: 100px;')
            img.img-circle.img-thumbnail.img-thumbnail-avatar(src='/vendor/template/img/placeholders/avatars/avatar4.jpg', alt='avatar')
          td
            h4
              strong Alan George
            i.fa.fa-fw.fa-user.text-danger
            |  Photographer
            br
            i.fa.fa-fw.fa-map-marker.text-info
            |  Tokyo, Japan
          td.text-right
            a.btn.btn-sm.btn-info(href='javascript:void(0)', data-toggle='tooltip', title='Send Message')
              i.fa.fa-envelope
            a.btn.btn-sm.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='Follow')
              i.fa.fa-share
        tr.animation-fadeInQuick2
          td.text-center(style='width: 100px;')
            img.img-circle.img-thumbnail.img-thumbnail-avatar(src='/vendor/template/img/placeholders/avatars/avatar5.jpg', alt='avatar')
          td
            h4
              strong Zachary Rios
            i.fa.fa-fw.fa-user.text-danger
            |  Copywriter
            br
            i.fa.fa-fw.fa-map-marker.text-info
            |  New Delhi, India
          td.text-right
            a.btn.btn-sm.btn-info(href='javascript:void(0)', data-toggle='tooltip', title='Send Message')
              i.fa.fa-envelope
            a.btn.btn-sm.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='Follow')
              i.fa.fa-share
        tr.animation-fadeInQuick2
          td.text-center(style='width: 100px;')
            img.img-circle.img-thumbnail.img-thumbnail-avatar(src='/vendor/template/img/placeholders/avatars/avatar6.jpg', alt='avatar')
          td
            h4
              strong Janet Bell
            i.fa.fa-fw.fa-user.text-danger
            |  Graphic Designer
            br
            i.fa.fa-fw.fa-map-marker.text-info
            |  New York, USA
          td.text-right
            a.btn.btn-sm.btn-info(href='javascript:void(0)', data-toggle='tooltip', title='Send Message')
              i.fa.fa-envelope
            a.btn.btn-sm.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='Follow')
              i.fa.fa-share
        tr.animation-fadeInQuick2
          td.text-center(style='width: 100px;')
            img.img-circle.img-thumbnail.img-thumbnail-avatar(src='/vendor/template/img/placeholders/avatars/avatar7.jpg', alt='avatar')
          td
            h4
              strong David Dixon
            i.fa.fa-fw.fa-user.text-danger
            |  Web Developer
            br
            i.fa.fa-fw.fa-map-marker.text-info
            |  Rio de Janeiro, Brazil
          td.text-right
            a.btn.btn-sm.btn-info(href='javascript:void(0)', data-toggle='tooltip', title='Send Message')
              i.fa.fa-envelope
            a.btn.btn-sm.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='Follow')
              i.fa.fa-share
        tr.animation-fadeInQuick2
          td.text-center(style='width: 100px;')
            img.img-circle.img-thumbnail.img-thumbnail-avatar(src='/vendor/template/img/placeholders/avatars/avatar8.jpg', alt='avatar')
          td
            h4
              strong Jose Pena
            i.fa.fa-fw.fa-user.text-danger
            |   Manager
            br
            i.fa.fa-fw.fa-map-marker.text-info
            |  London, UK
          td.text-right
            a.btn.btn-sm.btn-info(href='javascript:void(0)', data-toggle='tooltip', title='Send Message')
              i.fa.fa-envelope
            a.btn.btn-sm.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='Follow')
              i.fa.fa-share
        tr.animation-fadeInQuick2
          td.text-center(style='width: 100px;')
            img.img-circle.img-thumbnail.img-thumbnail-avatar(src='/vendor/template/img/placeholders/avatars/avatar10.jpg', alt='avatar')
          td
            h4
              strong Sara Payne
            i.fa.fa-fw.fa-user.text-danger
            |  Photographer
            br
            i.fa.fa-fw.fa-map-marker.text-info
            |  Paris, France
          td.text-right
            a.btn.btn-sm.btn-info(href='javascript:void(0)', data-toggle='tooltip', title='Send Message')
              i.fa.fa-envelope
            a.btn.btn-sm.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='Follow')
              i.fa.fa-share
    .text-center.push-bit-top-bottom
      a.btn.btn-sm.btn-primary(href='javascript:void(0)') Show More
// END Connections
