// User Profile Row
.row
  .col-md-4.col-lg-3
    .widget
      .widget-image.widget-image-sm
        img(src='/vendor/template/img/placeholders/photos/photo1@2x.jpg', alt='image')
        .widget-image-content.text-center
          a.gravLink(href='https://en.gravatar.com/'): img.gravatar.img-circle.img-thumbnail.img-thumbnail-transparent.img-thumbnail-avatar-2x.push(alt='Create your own Gravatar!' gravatar-src-once='currentUser.email' gravatar-size="200")
          h2.widget-heading.text-light
            strong {{currentUser.username}}
      .widget-content.widget-content-border
        .row.text-center
          .col-xs-6
            h3.widget-heading
              i.gi.gi-star.text-success.push
              br
              small
                strong <# of>
                |  Brownie Points
          .col-xs-6
            h3.widget-heading
              i.gi.gi-group.themed-color-social.push
              br
              small
                strong 58.6k
                |  Connections
      .widget-content.widget-content-border
        h4 How to earn brownie points:
        p
          | Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti.
      .widget-content
        h4 Social
        .btn-group
          a.btn.btn-default(href='javascript:void(0)', data-toggle='tooltip', title='Facebook')
            i.fa.fa-facebook.fa-fw
          a.btn.btn-default(href='javascript:void(0)', data-toggle='tooltip', title='Twitter')
            i.fa.fa-twitter.fa-fw
  .col-md-8.col-lg-9
    .block.full
      // Block Tabs Title
      .block-title
        .block-options.pull-right
          a.btn.btn-effect-ripple.btn-default(href='javascript:void(0)', data-toggle='tooltip', title='Settings')
            i.fa.fa-cog
        ul.nav.nav-tabs(data-toggle='tabs')
          li.active
            a(href='#profile-activity') Activity
          li
            a(href='#profile-gallery') Prizes
          li
            a(href='#profile-followers') Connections
      // END Block Tabs Title
      // Tabs Content
      .tab-content
        // include ./partials/activity.jade
        // include ./partials/prizes.jade
        // include ./partials/connections.jade
